<!DOCTYPE html>
<html>
<head>
	<title>raspberry-pi-media-platform-prototype - OMX Control Test</title>
	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
	<script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
	<style>
	body {
		margin: 50px;
	}
	</style>
</head>
<body>
	<h2>omxplayer control</h2><br />
	<a href='http://localhost/omx/start/Test.mp4'>Play Test.mp4</a><br />
	<a href='http://localhost/omx/pause'>Pause</a><br />
	<a href='http://localhost/omx/quit'>Quit</a>
</body>
</html>